    <section class="notice" id="notice">
      <div class="notice__image-col">
        <img class="notice__image" src="./assets/images/img-notice.png" alt="Data Science Pioneers">
      </div>
      <div class="notice__content">
        <p class="notice__description">
          It's hard to tell the difference between data science hype and reality.
          Data Science Pioneers is now available. What are you waiting for?
        </p>
        <div class="notice__buttons">
          <a class="notice__button" href="#">Watch Now</a>
          <a class="notice__button notice__button--outline" href="#">Watch</a>
        </div>
      </div>
      <h2 class="notice__title">WATCH NOW WATCH</h2>
    </section>
